<!DOCTYPE html>
<html lang="zh-cn" ng-app="inviteApp">
<head>
    <meta charset="utf-8">
    <title>请柬</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body ng-controller="rootController">

<div ng-view></div>


<!-- <script src="js/jquery-1.10.2.min.js" ></script> -->
<!-- <script src="js/bootstrap.min.js" ></script> -->
<script src="js/angular.min.js" ></script>
<script src="js/angular-route.min.js" ></script>
<script src="js/invitation.js" ></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa941004a8d485ec91826421c17fd2095' type='text/javascript'%3E%3C/script%3E"));
</script>


</body>
</html>