body {
/*	 background-image: url(../img/bk.jpg);
	 background-repeat: no-repeat;	
	 line-height: normal;
	 font-weight: normal;
	 background-attachment: fixed;
	 background-position: center top;*/
	  font-family: "微软雅黑";
	 font-size: 12px;
	 background: #d51938;
	 
}

.bk-red {
	background: #d51938;
	background: radial-gradient(#CC304A, #d51938);
	padding-bottom: 20px;
}

.bk-white {
	background: #f5d49f;
	background: radial-gradient(#f5d49f, #f5d49f);
	padding-bottom: 20px;
}



.title {
	font-size: 40px;
	float: right;
	padding-right: 100px;
	padding-top: 80px;
	color: #1B0E0E;
}

.invite-name {
	background: url(../img/invite.png) no-repeat center top;
	text-align: center;
	height: 690px;
	color: #f5d49f;
	font-size: 30px;
	position: relative;
	text-align: center;
	padding-top: 110px;
	margin-top: 120px;
}

.invite-detail {
	background: url(../img/detail.png) no-repeat center top;
	text-align: center;
	height: 750px;
	color: #666666;
	font-size: 30px;
	position: relative;
	text-align: center;
	padding-top: 110px;
	margin-top: 80px;
}




.back-home {
	margin-top: 20px;
	text-align: center;
	
}

.back-home a {
	font-size: 15px;
	color: #d51938;
	text-decoration: none;	
	padding-left: 70px;
}

.invite-map {
	background: url(../img/map.png) no-repeat center top;
	text-align: center;
	height: 440px;
	color: #666666;
	font-size: 30px;
	position: relative;
	text-align: center;
}

.invite-img {
	text-align: center;

}

.title-img {
	margin-top: 20px;
	margin-left: 50px;
}

.invite-nav-red {
	margin-bottom: 100px;
	font-size: 30px;
	list-style-type: none;
	margin-left: 120px;
	margin-bottom: 20px;
}

.invite-nav-red li{
	display:inline;
}


 

.invite-nav-red a {
	color: #d51938;
	text-decoration: none;	
	font-size: 20px;
}

.invite-nav-red a:hover {
	color: #F74C68;
	text-decoration: none;
	font-size: 20px;
}

.invite-nav {
	font-size: 30px;
	color: #f5d49f;
	list-style-type: none;
	text-align: center;
	padding-left: 120px;
	margin-bottom: 20px;
}

.invite-nav a {
	color: #F7CC88;
	text-decoration: none;	
	font-size: 20px;
}

.invite-nav li {
	float : left;
	margin-right:35px; 
}

.invite-nav a:hover {
	color: #F7DEB7;
	text-decoration: none;
	font-size: 20px;
}