<div class="bk-red">
       <div class="row">
            <div class="col-md-12">
            </div>
       </div>

      <div class="row">
        <div class="col-md-2">
               <img src="img/title.png" class="title-img" />
          
        </div>
        <div class="col-md-8" ng-show="global.username">
          
            <div class="invite-name">
                  {{ global.username }}
            </div>

             <ul class="invite-nav">
                <li ng-click="join(1)"><a href="javascript:void(0);">
                  <span class="glyphicon glyphicon-send"></span>
                  &nbsp;
                  好的,我会前往!
                  </a>
                </li>
                <li ng-click="join(0)"><a href="javascript:void(0);">
                   <span class="glyphicon glyphicon-time"></span>
                    &nbsp;
                    很遗憾,没空参加..</a></li>
                <li>
                  <a href="/#/detail">
                  <span class="glyphicon glyphicon-th-list"></span>
                    &nbsp;
                    详细了解</a>
                  </li>

                
                
            </ul>
         
        </div>
        <div class="col-md-2">
           
        </div>
      </div>

      <!-- <hr> -->
<!-- 
      <footer>
        <p>&copy; Company 2014</p>
      </footer> -->
</div> <!-- /container -->